.footer-margin-top {
  margin-top: 20px;
}

.footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.footer-item {
  flex: 1;
}

.footer-center {
  text-align: center;
  font-size: 12px;
}

.footer-right {
 text-align: right;
 font-size: 12px;
}